@import '@/app/globals.scss';

.commentItem {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--background-lightened-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  &:hover {
    background-color: var(--background-color);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.author {
  font-weight: bold;
  color: var(--primary-color);
  word-break: break-all;
}

.date {
  min-width: 95px;
  font-size: 0.875rem;
  color: var(--font-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  font-size: var(--font-size);
  color: var(--font-color);
  word-break: break-all;
}
