@import '@/app/globals.scss';

.addComment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--background-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow-default);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.textarea {
  min-height: 100px;
  margin-bottom: 0;
  textarea {
    resize: vertical;
  }
}

.emojiPickerButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
  margin-top: -25px;
  width: 2em;
}

.emojiPickerButton:hover,
.emojiPickerButton:focus {
  background-color: var(--secondary-hover-color);
}

.emojiPicker {
  position: absolute;
  z-index: 1000;
  margin-top: 8px;
}

.error {
  color: var(--error-color);
  font-size: 14px;
}

.captchaContainer {
  margin-top: 16px;
}

.submit {
  align-self: flex-start;
}
