@import '@/app/globals.scss';

.footer {
  background: var(--background-color);
  color: var(--font-color);
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid var(--border-color);
  transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.copy {
  margin: 0;
  font-size: 1rem;
}

.shareButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
