@import '@/app/globals.scss';

.skeletonEditor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: var(--background-lightened-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow-default);
  height: 50vh; 
  width: 100%; 
}

.skeletonLine {
  height: 1.5rem; 
  background-color: var(--border-color);
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
  width: 100%; 
}

@keyframes shimmer {
  0% {
    background-position: -40px 0;
  }
  100% {
    background-position: 40px 0;
  }
}
