@import '@/app/globals.scss';

.header {
  background-color: var(--background-color);
  border-bottom: 2px solid var(--border-color);
  padding: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  border-radius: 50%;
  box-shadow: var(--box-shadow-default);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 0;
}

.navLink {
  font-size: 1rem;
  color: var(--font-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
  }
}

.themeToggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--font-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-color);
  }
}
