@import './themes.scss';

.body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  --box-shadow-default: 3px 3px 5px rgba(0, 0, 0, 0.2),
    -3px -3px 5px rgba(255, 255, 255, 0.1);
  --box-shadow-inset: inset 3px 3px 5px rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px rgba(255, 255, 255, 0.1);
  dd {
    margin-inline-start: 0;
  }
  h1,
  h2,
  h3 {
    word-break: break-all;
  }
  @media screen and (max-width: 700px) {
    h1 {
      text-align: center;
    }
  }
}
