.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.black {
    background-color: var(--background-color);
    color: var(--font-color);
  }

  &.white {
    background-color: var(--background-color-light);
    color: var(--font-color-light);
  }

  &.red {
    background-color: var(--error-color);
    color: var(--font-color-light);
  }

  &.green {
    background-color: var(--primary-color);
    color: var(--font-color);
  }
}
