@import '@/app/variables.scss';

.captchaWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  color: var(--font-color);
  margin-bottom: 8px;
}

.errorInput {
  border-color: $primary-color;
}

.error {
  color: $primary-color;
  margin-top: 8px;
}
