@import '@/app/globals.scss';

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
}

.label {
  font-size: 1rem;
  color: var(--font-color);
}

.input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--font-color);
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 4px var(--primary-hover-color);
  }

  &.red {
    border-color: var(--error-color);
    box-shadow: 0 0 0 4px var(--error-hover-color);
  }

  &[aria-invalid='true'] {
    border-color: var(--error-color);
    box-shadow: 0 0 0 4px var(--error-hover-color);
  }
}
